{% block content %}
<html>
	<head>
		<link rel="stylesheet" href="static/style.css" type="text/css">
	</head>
<body>
	<div class="container">
		<div class="child-left">
			<div class="instructions-small">
							<!--<h1> Current Goal: </h1>-->
				<img src="data:image/jpeg;base64,{{  target_pick_img  }}" class="pickplace-image">
				<img src="static/images/arrow.png" style='object-fit:contain; height: 90%; width: 30%;'>
				<img src="data:image/jpeg;base64,{{  target_place_img  }}" class="pickplace-image">
			</div>
			<center>
			<img src="static/images/robot-accomplished.png" class="robot-pic">
			</center>
			<div class="instructions-small">
							<!--<h1> Executed Action: </h1>-->
				<img src="data:image/jpeg;base64,{{  pick_img  }}" class="pickplace-image">
				<img src="static/images/arrow.png" style='object-fit:contain; height: 90%; width: 30%;'>
				<img src="data:image/jpeg;base64,{{  place_img  }}" class="pickplace-image">
			</div>
			<div class=query-box>
				<a href="/"> Continue </a>
			</div>
		</div>
		<div class="child-right">
				<center>
				{%for mesg in get_flashed_messages() %}
				{{mesg | safe}}<br>
				{% endfor %}
				<img src="data:image/jpeg;base64,{{  img_data  }}" class="robot-view">
				</center>
		</div>
	</div>
</body>
</html>
{% endblock %}
