<html>
				<head>
					<title>Instructions</title>
					<style>
					figcaption{
					  font-size: 80%;
					}
					</style>
				</head>
				<body>
	<div style="width:50vw;margin:auto;border:2px solid #f2f2f2;border-radius:20px;padding:8px">
						<h2> Instructions </h2>
						<p>You have volunteered to participate in a study on how humans interact with deep learning systems. Thank you! Please read these instructions thorougly, and click "continue". If you have any questions or concerns, please ask the person administering the study.</p> 
						<h3>Entry Survey</h3>
						<p>Prior to beginning the task, we request that you fill out a brief survey containing demographic information and your experience with virtual assistants (<i>e.g.,</i> Amazon Alexa).
						
						<h3>The Task</h3>
						<p>Consider the following image:</p>
						<center>
						<img src="static/images/bigflower.jpg" width="50%">
						<figcaption>A Kalanit Flower. From Wikimedia Commons CC BY-SA 2.5.</figcaption>
						</center>
						<p>Like many photographs, there is a lot of space around the subject of the photo (the flower) that does not need to be included. The process of removing such extra space is called <i>cropping</i>, and results in improved images like this:</p>
						<center>
						<img src="static/images/smallflower.jpg" width="50%">
						<figcaption>Cropped version of the above photo. From Wikimedia Commons CC BY-SA 2.5.</figcaption>
						</center>
						<p>Digital cropping is typically performed by using the mouse to draw a box around the subject of the image. However, recent advances in image and language processing have made it possible to crop images in a more natural manner by describing the subject. We would like you to evaluate one such potential interface.</p>

						<p>To do this, we will provide you with a series of images. For each image, you will see the following screen:</p>
						<center>
						<img src="static/images/instruction-start.png" width="80%">
						</center>
						<p> There are three components to this screen: in the center is the image that you are cropping with a green box drawn around the subject. In the upper-right corner is a meter that tells you how many crops have you attempted and how many are correct for this setting, as well as how many crops are remaining across all settings. In the upper-left corner is an input box asking "what would you like to crop?" To perform a crop, simply type a phrase describing the subject and press enter.</p>
						<p> After hitting enter, the computer will read your text and either make a guess or ask you to rephrase. If the computer makes a guess, it will show green if the subject is cropped successfully, and red if it is not. Additionally, the part of the image that would be removed is darkened, allowing you to understand what the computer thinks you said. The three potential screens look like this: </p>
						<table style="table-layout:fixed;width:100%">
										<tr><td style="width:33%"><center><img src=static/images/performance_correct.png width="95%"><figcaption>Correct</figcaption></center></td><td style="width:33%"><center><img src=static/images/instructions-incorrect.png width="95%"><figcaption>Incorrect</figcaption></center></td><td style="width:33%"><center><img src=static/images/instructions-deferral.png width=95%><figcaption>Try Again</figcaption></center></td></tr>
				    </table>					
						<h3> Experience Survey </h3>
						<p>In this evaluation, you will be given four different parameter settings, each of which has thirty crop operations. These settings are separated by surveys, that request your satisfaction about two factors: the system's accuracy and the number of times the computer asked you to repeat yourself (the computer may not necessarily ask you to repeat yourself). Please answer this survey related to only the most recent parameter setting, and keep these questions in mind as you work. </p>
						<h3>Additional Notes</h3>	
						<p>For this study, you will be performing 30 crops using four different program settings (a total of 120 crops). We have timed this out such that it will take approximately one hour, but different users may take different amounts of time. Interactions from this session will be saved and made publically available but will be anonymized such that you can not be identified. Likewise, we do not maintain any record linking the interaction data with your personal information, and cannot monitor your inputs in real-time.</p>
								<a href=pre_survey>I understand. Continue!</a>
	</div>
				</body>
</html>

								
