{% block content %}
<html>
				<head>
<style>
.float-container {
    border: 3px solid #fff;
				height: 100%;
				width: 100%;
				margin:0px auto;
				position: relative;
				}

.float-child {
		margin: 0px auto;
		width: 50%;
		height:100%;
		/*padding: 25% 0;*/
		text-align: center;
}  
				.float-stack {
						display: inline-block;
				    width: 95%;
						height: 20%;
						border-color: red;
						border-style: dotted;
												}  

</style>
				</head>
<body>
				<div class="float-container">
		  	<div class="float-child" style="float:left">
								<div class="float-stack">
								test
								</div>
								<div class="float-stack">
								<img src="data:image/jpeg;base64,{{  pick_img  }}" style='object-fit:contain; height: 90%; width: 33%; border-radius: 30px'>
								<img src="data:image/jpeg;base64,{{  place_img  }}" style='object-fit:contain; height: 90%; width: 33%; border-radius: 30px'>
								</div>
								<div class="float-stack">
												<img src="static/images/robot-graphic.png" style="object-fit:contain; height:90%; width: 100%">
								</div>
								<div class="float-stack">
										<form action="" method="post" novalidate>
												{{ form.hidden_tag() }}
												<p>
														{{ form.expression.label }}<br>
														{{ form.expression(size=32) }}
												</p>
												<p>{{ form.submit() }}</p>
										</form>
								</div>
				</div>
				<div class="float-child" style="float:right">
								<center>
								{%for mesg in get_flashed_messages() %}
								{{mesg | safe}}<br>
								{% endfor %}
								<img src="data:image/jpeg;base64,{{  img_data  }}" style='object-fit:contain; height: 90%; width: 100%; border-radius: 30px'>
								</center>
				</div>
				</div>
</body>
</html>
{% endblock %}
